node_modules/
dist/
*.tgz
.DS_Store
docs/todo
/archive
/logo
/docs/superpowers
*/skills/*
*/*/skills/*
skills-lock.json
/.superpowers
/docs/article_media/0504/how-to-share-skills-across-codex-claude-code-cursor-and-gemini-cli-with-aweskill-zh-CN-review
/docs/article_media/0505/let-your-ai-agent-manage-aweskill-for-you-zh-CN-review
.peng-crosspost-workflow/
