node_modules/
dist/
*.tgz
.DS_Store
package-lock.json
docs/todo
/archive
/logo
/docs/superpowers
.trae/skills/github-release-workflow
.openclaw/skills/github-release-workflow
.gemini/skills/github-release-workflow
.gemini/antigravity/skills/github-release-workflow
.cursor/skills/github-release-workflow
.codex/skills/github-release-workflow
.codebuddy/skills/github-release-workflow
.claude/skills/github-release-workflow
